@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Plus Jakarta Sans';
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

:root{
    --cor1: #1F0322;
    --cor2: #E6E1C5;
    --cor3: #F03A47;
    --cor4: #3D5467;
    --cor5: #38AECC;
    --cor6: #191E3A;
    --cor7: #FFFFFF;

}

div#name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#name p{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

div#name img{
    border-radius: 50%;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    color: var(--cor1);
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul#links li{
    padding: 10px 0;
    transition: .2s;
}

nav ul#links li:hover{
    transform: translate(-2px, -2px);
}

nav ul#links li a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: 500;
    padding: 10px;
    transition: .2s;
}

nav ul#links li a:hover{
    color: var(--cor3);
}

nav ul#modo img{
    width: 20px;
}

nav ul#modo li button{
    background: none;
    border: none;
    cursor: pointer;
}

/************************************************/

section#screen-princ{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    font-size: 20px;

    margin: auto;
    padding: 20px;

    background: url(../praticasv3/imagens/background-screen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    

    height: 400px;
}

section#screen-princ div{
    margin: auto;
    width: 70%;
    color: var(--cor1);
    background-color: #ffffffbd;
    padding: 20px;
}

section.projects{
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px 10px 0px;
}

section.projects img{
    min-width: 300px;
    max-width: 550px;
}

section.projects div.project-description{
    width: 300px;
    display: flex;
    flex-direction: column;
}

section.projects div.project-description h2{
    font-size: 40px;
    color: var(--cor1);
}

section.projects div.project-description p{
    color: var(--cor6);
}

section.projects div.project-description a{
    margin: 30px auto;
    padding: 10px;
    width: 200px;
    border-radius: 20px;

    background-color: var(--cor1);
    color: var(--cor7);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.644);

    font-size: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    transition: .3s;
}

section.projects div.project-description a:hover{
    transform: translate(-2px, -2px);
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.644);
    background-color: var(--cor6);
}
